@import url('https://fonts.googleapis.com/css2?family=Poppins');

.Partner {
    padding: 100px 0;
}

.container-partner {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    padding: 0 150px;

}

.container-partner>div {
    text-align: center;
    padding: 20px 0;
}

.title-container-partner {
    grid-column: 1 / 4;
    font-weight: bolder;
    font-size: 50px;

}

.container-partner>img {
    object-fit: cover;
    width: 50%;
    max-height: 100%;
    margin: auto;
}